{% extends 'base.html.twig' %}

{% block title %}Templates !{% endblock %}

{% block body %}
<style>
@media screen and (max-width: 1200px) {
.main{
    flex-direction: column;
}
.contain{
    width:100%;
}
}
</style>
    {{ include('navbar.html') }}
<div class="main" style="display:flex;">
<div class"contain">
<div class="bg-light border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light">Theme Forest</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Theme Sun</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Theme Moon</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Theme School</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Theme City</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Theme Country</a>
            </div>
        </div>
        </div>
    
{% for i in range (1,cards|length -1, 2)%}
    <div class="contain2">
    <div class="card" style="width: 18rem;">
        <img src="{{ cards[i].preview }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ cards[i].name }}</h5>
            {% if cards[i].active == true %}
            <h6 {{ cards[i].active == 1 ? 'style="color:green;"'}}>Actif</h6>
            {% endif %}
            {% if cards[i].premium == true %}
            <h6 {{ cards[i].active == 1 ? 'style="color:green;"'}}>Disponible pour les premiums</h6>
            {% endif %}
            <p class="card-text">{{ cards[i].description }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{{ cards[i+1].preview }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ cards[i+1].name }}</h5>
            {% if cards[i+1].active == true %}
            <h6 {{ cards[i+1].active == 1 ? 'style="color:green;"'}}>Actif</h6>
            {% endif %}
            {% if cards[i+1].premium == true %}
            <h6 {{ cards[i+1].active == 1 ? 'style="color:green;"'}}>Disponible pour les premiums</h6>
            {% endif %}
            <p class="card-text">{{ cards[i+1].description }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    </div>
    {% endfor %}
</div>
     {{ include('footer.html') }}
{% endblock %}
